<div class="row">
    <div class="col-3">
        <div class="card h-100">
            <div class="card-header text-bg-dark">Torneos</div>
            <div class="card-body">
                <div class="tournament" *ngFor="let tournament of Tournaments">
                    <a class="nav-link active" [routerLink]="['/mainMenu/teams/teamList/',tournament.id]">{{tournament.name}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card h-100">
            <div class="card-header text-bg-dark">Equipos</div>
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card h-100">
            <div class="card-header text-bg-dark">Mi Seleccion</div>
            <div class="card-body">
                <div class="card text-bg-light mb-3">
                    <div class="card-header">Equipo1/Equipo2</div>
                    <div class="card-body">
                        <p class="card-text">Nombre de apuesta</p>
                        <p class="card-text"><b>Valor elegido</b></p>
                        <p><b>3.0</b></p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">-</button>
                            <input type="number" class="form">
                            <button type="button" class="btn btn-secondary">+</button>
                        </div>
                        <br>
                        <div class="benefit">
                            <p class="ganancia">Ganancia potencial</p>
                            <p>$importe</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-bg-dark">
                <div class="betfinish">
                    <div class="totalBet">
                        <p>$Importe total</p>
                        <p>$Ganancia potencial</p>
                    </div>
                    <div class="betBtn">
                        <a href="#" class="btn btn-outline-success">Apostar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>