*{
    margin: 0;
}

.col-6{
    min-height: 700px;
}

.card-header-bg-dark{
    color: white;
}

.teamData{
    display: inline-block;
}
.betBtn{
    float: right;
}

.row{
    background-color: #c7c7c7;
    padding-top: 30px;
    padding-bottom: 30px;
}

.listItem:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.card{
    margin: 5px;
}

.tournament{
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.tournament:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.form{
    width: 80px;
}
.ganancia{
    font-size: small;
}

.card-footer{
    display: flex;
    align-items: center;
}

.benefit{
    text-align: right;
    margin-left: 12px;
    display: block;
}

.card-text{
    font-size: medium;
}

.betfinish{
    display: block;
    width: 280px;
}

.betBtn{
    margin-top: 5px;
    display: inline-block;
}

.totalBet{
    display: inline-block;
    justify-content: space-between;
}
