<div class="row">
    <div class="col-3">
        <div class="card h-100">
            <div class="card-header">Torneos</div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">Equipos</div>
            <div class="card-body">
                <div class="card">
                    <div class="listItem">
                        <div class="card-body">
                            <div class="teamData">
                                <p class="card-text">Boca Juniors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card h-100">
            <div class="card-header">Mi Seleccion</div>
            <div class="card-body">
                <p class="card-text">Aca ira el listado de las apuestas que estamos realizando previas de abonar</p>
            </div>
        </div>
    </div>
</div>