<div class="card text-bg-dark mb-3">            
    <div class="card-header"><h2>Mis Datos</h2></div>
    <div class="card-body">
      <h3 class="card-title">Hola Nombre de Usuario!</h3>
      <br>
      <p class="card-text">Aca irian los saldos (total/apostado/retirable)</p>
      <p class="card-text">Nombre y apellido</p>
      <p class="card-text">DNI</p>
      <p class="card-text">Genero</p>
      <p class="card-text">Nacionalidad</p>
      <p class="card-text">Fecha de nacimiento</p>
      <h5 class="card-title">Datos de contacto</h5>
      <p class="card-text">Mail</p>
      <p class="card-text">Telefono</p>
    </div>
  </div>
