<div class="card text-bg-dark mb-3">
  <div class="card-header">
    <h2>Mis Datos</h2>
  <div class="userData">
    <div class="card-body">
      <h3 class="card-title">Hola {{user.firstName}} {{user.lastName}}!</h3>
      <p class="card-text">Saldo: ${{user.balance}}</p>
      <p class="card-text">DNI: {{user.dni}}</p>
      <p class="card-text">Genero: {{user.gender}}</p>
      <h5 class="card-title">Datos de contacto</h5>
      <p class="card-text">{{user.email}}</p>
      <p class="card-text">{{user.phone}}</p>
    </div>
</div>