<div class="logInBackGround">
  <div class="card">
    <h2><b>¡Hola!</b></h2>
    <h3>¡Ingresa tus datos para jugar ahora!</h3>
    <br>
    <form class="logInStyle">
      <div class="mb-3">
        <label for="mail" class="form-label">mail</label>
        <input type="text" class="form-control" id="mail" name="mail" [(ngModel)]="mail">
      </div>
      <br>
      <div class="mb-3">
        <label for="InputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="InputPassword1">
      </div>
      <br>
      <button type="submit" class="btn btn-outline-success" (click)="validateEmail(mail)">Iniciar Sesion</button>
      <br>
      <br>
      <a class="nav-link active" [routerLink]="['/signUp']" routerLinkActive="active" aria-current="page"
      href="#"><button type="submit" class="btn btn-outline-success">Registrarse</button></a>
    </form>
  </div>
</div>