<div class="logInBackGround">
  <div class="card">
    <h2><b>¡Hola!</b></h2>
    <h3>¡Ingresa tus datos para jugar ahora!</h3>
    <br>
    <form class="logInStyle">
      <div class="mb-3">
        <label for="usernameInput" class="form-label">Username</label>
        <input type="text" class="form-control" id="usernameInput">
      </div>
      <br>
      <div class="mb-3">
        <label for="InputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="InputPassword1">
      </div>
      <br>
      <button type="submit" class="btn btn-outline-success">Iniciar Sesion</button>
      <br>
      <br>
      <button type="submit" class="btn btn-outline-success">Registrarse</button>
    </form>
  </div>
</div>