.card{
    margin: auto;
    max-width: 500px;
    padding: 20px;
    min-height: 500px;
    background-color: rgb(32, 32, 32);
}

input{
    background-color: rgb(32, 32, 32);
    color: white;
    border-color: rgb(97, 97, 97);
}

input:focus{
    background-color: rgb(32, 32, 32) ;
    color: white;
    border-color: rgb(97, 97, 97);
}

*{
    color: white;
}

.logInBackGround{
    padding-top: 100px;
    background-repeat: no-repeat;
    background-image: url(https://wallpapercave.com/wp/wp3972164.jpg);
    background-position: 50% 50%;
    margin: auto;
    height: 720px;
}
.error-message {
    font-size: 12px;
    color: orangered;
  }