<div class="card">
  <div class="card-header text-bg-dark">Mis Ajustes</div>
  <div class="card-body text-bg-dark">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <label for="first-name" class="form-label">Nombre </label>
          <input
            id="first-name"
            class="form-control"
            type="text"
            formControlName="firstName"
          />
        </div>

        <div class="col">
          <label for="last-name" class="form-label">Apellido: </label>
          <input
            id="last-name"
            class="form-control"
            type="text"
            formControlName="lastName"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <label for="dni" class="form-label">DNI: </label>
          <input
            id="dni"
            class="form-control"
            type="text"
            formControlName="dni"
          />
        </div>
        <div class="col">
          <label for="phone" class="form-label">Telefono: </label>
          <input
            id="phone"
            class="form-control"
            type="text"
            formControlName="phone"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <label for="email" class="form-label">Email: </label>
          <input
            id="email"
            class="form-control"
            type="text"
            formControlName="email"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="gender" class="form-label">Genero: </label>
          <select id="inputGender" class="form-select" formControlName="gender">
            <option>Masculino</option>
            <option>Femenino</option>
            <option>Otro</option>

          </select>
        </div>

        <div class="col">
          <label for="password" class="form-label">Contraseña: </label>
          <input
            id="password"
            class="form-control"
            type="password"
            formControlName="password"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <label for="nationality" class="form-label">Nacionalidad: </label>
          <input
            id="nationality"
            class="form-control"
            type="text"
            formControlName="nationality"
          />
        </div>
        <div class="col">
          <label for="birthdate" class="form-label"
            >Fecha de nacimiento:
          </label>
          <input
            id="birthdate"
            class="form-control"
            type="text"
            formControlName="birthdate"
          />
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-outline-success" [disabled]="!profileForm.valid">Confirmar</button>
    </form>
  </div>
</div>
