*{
    margin: 0;
}

.col{
    min-height: 700px;
}

.separator{
    margin-top: 3px;
    height: 1px;
    background-color: #212529;
    max-width: 150px;
}
.teamsData{
    display: inline-block;
}

.fixture{
    max-height: 50px;
}

.row{
    background-color: #c7c7c7;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

.betBody:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.card{
    margin: 5px;
}

.tournament{
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.tournament:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.card-footer{
    display: flex;
    align-items: center;
}

.ganancia{
    font-size: small;
}

.benefit{
    text-align: right;
    margin-left: 12px;
    display: block;
}

.card-text{
    font-size: medium;
    color: black;
}

.form{
    width: 80px;
}

.betfinish{
    display: block;
    width: 280px;
}

.betBtn{
    margin-top: 0;
    display: inline-block;
}

.totalBet{
    display: inline-block;
    justify-content: space-between;
}

.deleteBtn{
    margin-left: 100px;
}

.deleteBtn:hover{
    cursor: pointer;
}

.betHeader{
    display: flex;
}
.modal {
    position: absolute;
    top: 10px;
    right: 100px;
    bottom: 0;
    left: 30%;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    width: 1000px;

    --bs-modal-bg: #212529;
    --bs-modal-color: white;
    --bs-modal-header-border-color: #474747;
    --bs-modal-footer-border-color: #212529;
 }
 .btn {
    margin: 5px;
 }

 .col-3{
    height: 470px;
 }

 .card-body{
    background-color: white;
    border-radius: 5px;
 }