
<div class="card">
    <div class="listItem">
        <div class="card-body">
            <a class="nav-link active" [routerLink]="['/mainMenu/teams/teamDetails']">
                <div class="teamData">
                    <img class="teamLogo" src="https://w7.pngwing.com/pngs/1008/873/png-transparent-boca-juniors-superliga-argentina-de-futbol-football-club-atletico-huracan-football-sport-heart-logo.png" alt="">
                    <p class="card-text">Boquita el mas grande</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="card" *ngFor="let team of teams">
    <div class="listItem">
        <div class="card-body">
            <a class="nav-link active" (click)="setActualTeam(team.team.id)" [routerLink]="['/mainMenu/teams/teamDetails']">
                <div class="teamData">
                    <img class="teamLogo" src="{{team.team.logo}}" alt="">
                    <p class="card-text">{{team.team.name}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
