<div class="card">
    <div class="listItem">
        <div class="card-body">
            <a class="nav-link active" [routerLink]="['/mainMenu/teams/teamDetails']">
                <div class="teamData">
                    <p class="card-text">Boca Juniors</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="card">
    <div class="listItem">
        <div class="card-body">
            <div class="teamData">
                <p class="card-text">River Plate</p>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="listItem">
        <div class="card-body">
            <div class="teamData">
                <p class="card-text">C.A Independiente</p>
            </div>
        </div>
    </div>
</div>