<div class="card">
    <h3><b>¡Crea tu cuenta, juga legal y seguro!</b></h3>
    <h3><b></b></h3>
    <br>
<form class="logInStyle">
    <div class="row">
    <div class="col">
        <label for="nameInput" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nameInput">
    </div>
    <div class="col">
        <label for="lastNameInput" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="lastNameInput">
    </div>
    <br>
    </div>
    <br>
    <div class="row">
    <div class="col">
        <label for="DNIInput" class="form-label">DNI</label>
        <input type="text" class="form-control" id="DNIInput">
    </div>
    <div class="col">
      <label for="phoneInput" class="form-label">Telefono</label>
      <input type="number" class="form-control" id="phoneInput">
    </div>
    </div>
    <br>
    <div class="row">
     <div class="col">
      <label for="mailInput" class="form-label">Mail</label>
      <input type="text" class="form-control" id="mailInput">
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
         <label for="inputGender" class="form-label">Genero</label>
         <select id="inputGender" class="form-select">
            <option selected>Elige</option>
            <option>Macho</option>
            <option>Minita</option>
            <option>Traba</option>
            <option>No binearie</option>
            <option>Maradona</option>
            <option>Helicoptero apache de guerra</option>
          </select>
       </div>
       <div class="col">
         <label for="InputPassword1" class="form-label">Contraseña</label>
         <input type="password" class="form-control" id="InputPassword1">
       </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
         <label for="nationalityInput" class="form-label">Nacionalidad</label>
         <input type="text" class="form-control" id="nationalityInput">
       </div>
       <div class="col">
         <label for="InputPassword1" class="form-label">Fecha de nacimiento</label>
         <input type="date" class="form-control" id="InputPassword1">
       </div>
    </div>
    <br>
    <button type="submit" class="btn btn-outline-success">Confirmar</button>
    <br>
</form>
</div>


