<div class="signUpBackGround">
  <div class="card">
    <h3><b>¡Crea tu cuenta, juga legal y seguro!</b></h3>
    <h3><b></b></h3>
    <br>
    <form class="logInStyle" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <label for="nameInput" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nameInput" formControlName="firstName">
          <div *ngIf="signUpForm.get('firstName')?.hasError('required') && (signUpForm.get('firstName')?.touched || signUpForm.get('firstName')?.dirty)"
          class="error-message">
            El nombre es obligatorio.
          </div>
          <div *ngIf="signUpForm.get('firstName')?.hasError('onlyLetters') && (signUpForm.get('firstName')?.touched || signUpForm.get('firstName')?.dirty)"
          class="error-message">
            Ingresa un nombre válido (solo letras).
          </div>
          <div *ngIf="signUpForm.get('firstName')?.hasError('maxlength') && (signUpForm.get('firstName')?.touched || signUpForm.get('firstName')?.dirty)"
           class="error-message">
            El nombre no debe tener más de 50 caracteres.
          </div>
        </div>
        <div class="col">
          <label for="lastNameInput" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="lastNameInput" formControlName="lastName">
        </div>
        <br>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label for="DNIInput" class="form-label">DNI</label>
          <input type="text" class="form-control" id="DNIInput" formControlName="dni">
        </div>
        <div class="col">
          <label for="phoneInput" class="form-label">Telefono</label>
          <input type="number" class="form-control" id="phoneInput" formControlName="phone" min=0>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label for="mailInput" class="form-label">Mail</label>
          <input type="text" class="form-control" id="mailInput" formControlName="email">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label for="inputGender" class="form-label">Genero</label>
          <select id="inputGender" class="form-select" formControlName="gender">
            <option selected>Hombre</option>
            <option>Mujer</option>
            <option>Otro</option>
          </select>
        </div>
        <div class="col">
          <label for="InputPassword" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="passwordInput" formControlName="password">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label for="birthDateInput" class="form-label">Fecha de nacimiento</label>
          <input type="date" class="form-control" id="birthDateInput" formControlName="birthDate">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-outline-success" [disabled]="!signUpForm.valid">Confirmar</button>
      <br>
    </form>
  </div>
</div>