<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Verificacion de Apuesta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul *ngIf="cartOK==true">
                    <li *ngFor="let bet of bets">
                        <p>{{bet.type}} -> {{bet.selection}}</p>
                        <p>${{bet.betValue}} x {{bet.benefit}} (ganancia potencial) =
                            ${{getProfit(bet.betValue,bet.benefit)}}</p>
                    </li>
                </ul>
                <h3 *ngIf="cartOK==false">Por favor ingrese un a valor a todas sus apuestas!</h3>
                <br>
                <p *ngIf="cartOK==true">Su saldo es insuficiente, realice un deposito por favor!</p>
                <h4 *ngIf="cartOK==true">Total: ${{total}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="resetTotal()" class="btn btn-outline-danger" data-bs-dismiss="modal">Volver</button>
                <button *ngIf="cartOK==true" type="button" class="btn btn-outline-success">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-header text-bg-dark">Mis Apuestas</div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header text-bg-dark">
                        CONMEBOL Libertadores - 04/11/2023 - Ganador del Partido
                    </div>
                    <div class="betBody">
                        <div class="card-body">
                            <div class="fixture">
                                <div class="teamsData">
                                    <p class="card-text">Boca Juniors</p>
                                    <div class="separator"></div>
                                    <p class="card-text">F.C Fluminense</p>
                                    <br>
                                </div>
                                <div class="betBtn">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="number" class="form">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let bet of myBets" class="card">
                    <div class="card-header text-bg-dark">
                        CONMEBOL Libertadores - 04/11/2023 - Ganador del Partido
                    </div>
                    <div class="betBody">
                        <div class="card-body">
                            <div class="fixture">
                                <div class="teamsData">
                                    <p class="card-text">Boca Juniors</p>
                                    <div class="separator"></div>
                                    <p class="card-text">F.C Fluminense</p>
                                    <br>
                                </div>
                                <div class="betBtn">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary">-</button>
                                        <input type="number" class="form">
                                        <button type="button" class="btn btn-secondary">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card h-100">
            <div class="card-header text-bg-dark">Mi Seleccion</div>
            <div class="card-body">
                <div *ngFor="let bet of bets" class="card text-bg-light mb-3">
                    <div class="card-header">
                        <div class="betHeader">
                            <p class="teams">Equipo1/Equipo2</p>
                            <p (click)="deleteBet(bet)" class="deleteBtn">X</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{bet.type}}</p>
                        <p class="card-text"><b>{{bet.selection}}</b></p>
                        <p><b>{{bet.benefit}}</b></p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            $
                            <input id="betValue{{bet.id}}" type="number" min="50" class="form">
                        </div>
                        <!--
                        <br>
                        <div class="benefit">
                            <p class="ganancia{{bet.id}}">Ganancia potencial</p>
                            <p id="importeBet{{bet.id}}">$importe</p>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <div class="card-footer text-bg-dark">
                <div class="betfinish">
                    <!--
                    <div class="totalBet">
                        <p>$Importe total</p>
                        <p>$Ganancia potencial</p>
                    </div>
                    -->
                    <div class="betBtn">
                        <button type="button" (click)="verifyCart()" class="btn btn-outline-success"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Apostar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>