<div class="navBar">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/myProfile/myData']" routerLinkActive="active" href="#"><b>Mis Datos</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/myProfile/atm']" routerLinkActive="active" href="#"><b>Cajero</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mainMenu/teams']" routerLinkActive="active" href="#"><b>Ajustes</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/myProfile/activityHistory']" routerLinkActive="active" href="#"><b>Historial</b></a>
        </li>
    </ul>
</div>
<div class="myProfileBackground">
<router-outlet></router-outlet>
</div>
