.bets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn{
    margin: 5px;
}

.teamsData{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.teamData{
    display: flex;
    
}
.vs{
    margin-top: 15px;
}