<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']" routerLinkActive="active">
      <img class="logo" src="../assets/argen bet logo 6.png" alt="" width="260" height="70px"
        class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Mis Datos</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <h2>Nombre de Usuario</h2>
          </li>
          <li class="nav-item">
            <h3>Saldo total $xxxx</h3>
          </li>
          <li class="nav-item">
            <h4>Saldo retirable $xxxx</h4>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/logIn']" routerLinkActive="active" aria-current="page"
              href="#">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/signUp']" routerLinkActive="active" aria-current="page"
              href="#">Registrarme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/myProfile/myData']" routerLinkActive="active"
              aria-current="page" href="#">Ajustes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/myProfile/myData']" routerLinkActive="active"
              aria-current="page" href="#">Depositar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>