
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 500px;
  width: 1000px; 
  margin: 0 auto; 
  border: 1px solid rgb(88, 88, 88); 
}
.card-body {
  align-items: center;
}
.card.text-white.bg-dark.mb-3 {
  margin-top: 15px;
  border: 1px solid rgb(88, 88, 88); 
}

.card-lg {
  width: 300px; 
  height: 200px; 
  margin: 0 auto;
  text-align: center;
}
.card-lg-container .card-lg .card-header {
  border-bottom: 1px solid rgb(88, 88, 88);
  width: 100%; 
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.cashier{
  width: 100%;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
  
}
.card-lg-container {
  width: 80%; /* Ajusta el ancho según tu preferencia */
  height: 300px; /* Ajusta la altura según tu preferencia */
  margin-top: 50px;
  
}

.buttons button {
  margin-left: 10px; /* Ajusta el margen según tu preferencia */
  background-color: orangered;
}

.balance {
  text-align: center;
}
.btn-group{
  display: flex;
  margin: 10px;
  justify-content: space-between;
}
input{
  margin-bottom: 10px;
}
::placeholder{
  color:white;
}

.qr{
  margin-left: 145px;
  margin-top: 10px;
}

p{
  margin: 10px;
  text-align: center;
}
