<div class="card bg-dark text-white">
    <div class="card-header">
        <h2 style="margin-left: 20px">Saldo total $000.00</h2>
        <div class="buttons">
            <button type="button" class="btn btn-outline">Depositar</button>
            <button type="button" class="btn btn-outline">Retirar</button>
        </div>
    </div>
    <div class="card-body">
        <div class="cards-container">
            <div class="card-lg-container">
                <div class="card card-lg text-white bg-dark mb-3">
                    <div class="card-header">
                        <div class="cashier">
                            <h2>Saldo retirable</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2 class="balance">$0,00</h2>
                    </div>
                </div>
            </div>
            <div class="card-lg-container">
                <div class="card card-lg text-white bg-dark mb-3">
                    <div class="card-header">
                        <div class="cashier">
                            <h2>Saldo apostado</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2 class="balance">$0,00</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
