.betBody:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.fixture{
    max-height: 50px;
}

.card{
    margin: 20px;
}

.separator{
    margin-top: 3px;
    height: 1px;
    background-color: #212529;
    max-width: 150px;
}

.card-text{
    margin-top: 15px;
    text-align: center;
    font-size: larger;
}

.fixtureTeamLogo{
    height: 65px;
    width: 65px;
    margin: 3px;
}
.teamsData{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.teamData{
    display: flex;
    
}

.vs{
    margin-top: 15px;
}

.card-body{
    height: 100px;
}