<div class="navBar">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mainMenu/defaultMenu']" routerLinkActive="active"
                href="#"><b>Inicio</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mainMenu/teams']" routerLinkActive="active" href="#"><b>Equipos</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mainMenu/mybets']" routerLinkActive="active" href="#"><b>Mis
                    Apuestas</b></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>